* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
body {
    /*background-color: rgb(52, 53, 65);*/
    background-color: #f1f1f1;
}

.chat-container {
   display: flex;
   height: 100vh;
   width: 100%;
}

.chat-list {
   width: 20%;
   background-color: #3f51b5;
   color: white;
   text-align: center;
   /*border-radius: 20px;
   border: 1px solid white;
   */
}

.chat-list ul {
   list-style: none;
}

.chat-list li {
   cursor: pointer;
   padding: 10px 0;
   border-bottom: 1px solid white;
}

.chat-list li:hover {
   color: #3f51b5;
   background-color: white;
   border: 1px solid #3f51b5;
}

/*
.chat-list li:first-of-type:hover {
    color: #3f51b5;
    background-color: white;
    border: 1px solid #3f51b5;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
}*/
  
.chat-list li.active {
   background-color: #c2e7d9;
   color: #0d0221;
}

.message-box {
   flex: 1;
   display: flex;
   flex-direction: column;
}

.message-header {
   display: flex;
   align-items: center;
   height: 70px;
   padding: 0 20px;
   color: white;
   border-bottom: 1px solid white;
   background-color: #f1f1f1;
   color: black;
}

.message-header img {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   margin-right: 10px;
}

.message-body {
   flex: 1;
   display: flex;
   flex-direction: column;
   padding: 20px;
   overflow-y: scroll;
   background-color: #f1f1f1;
   color: black;
}
.message-body::-webkit-scrollbar {
   display: none;
}

.message {
   max-width: 600px;
   margin-bottom: 10px;
   padding: 10px;
   border-radius: 10px;
   word-wrap: break-word;
}

.message.mine {
   align-self: flex-end;
   background-color: #429ea6;
   color: #c2e7d9;
}

.message.other {
   align-self: flex-start;
   background-color: #8d99ae;
   color: #0d0221;
}
/*-----------*/
.message-footer {
   display: flex;
   align-items: center;
   height: 70px;
   padding: 0 20px;
   border-top: 1px solid white;
}

.message-footer form {
   display: flex;
   flex: 1;
   padding-top: 10px;
}

.message-footer input {
   flex: 1;
   height: 40px;
   padding: 10px;
   border: none;
   border-radius: 5px;
   color: black;
}

.message-footer button {
   height: 40px;
   margin-left: 10px;
   padding: 10px;
   border: none;
   border-radius: 5px;
}
