#body {
   margin-top: 20px;
}

.first-section {
   margin-top: 20px;
}

#imgpic {
   width: 150px;
   height: 150px;
   border-radius: 50%;
   border: 1px solid black;
}

.buttonSwitch {
   border: 1px solid #3f51b5;
   padding-top: 20px;
   padding-bottom: 20px;
   font-weight: bold;
}

.active {
   background-color: #3f51b5;
   color: white;
   font-weight: bold;
   border: 1px solid white;
}

.form {
   margin-left: 25%;
   width: 50%;
   margin-top: 20px;
  margin-bottom: 150px;
}

/*Copied by profule_style.css*/

.card {
   margin-left: 25%;
   width: 50%;
   border: 1px solid rgb(134, 119, 218);
   border-radius: 10px;
   margin-top: 10px;
}

.card-header {
   border-bottom: 1px solid rgb(134, 119, 218);
}

.second-body {
   border-top: 1px solid rgb(134, 119, 218);
   padding-top: 10px;
}

.option {
   display: flex;
   justify-content: center;
}

.number {
   margin-left: 5px;
}

#posts a {
   margin-top: 30px;
   text-decoration: none;
   cursor: pointer;
   color: black;
}

